#dashboard
  #meas_types.buttons-div

  = hidden_field_tag :meas_name, value: nil
  = hidden_field_tag :page, value: 0
  = hidden_field_tag :limit, value: 100

  #chart-pagination
  #chart-times.pure-g
    #time-from.pure-u-1-5
    #chart-info.pure-u-3-5
    #time-to.pure-u-1-5
  #chart

  #action_types.buttons-div

:javascript
  $(document).ready(function() {
    var d = new Dashboard();
  });