#dashboard
  #meas_types.buttons-div

  #chart-pagination
  #chart-times.pure-g
    #time-from.pure-u-1-5
    #chart-info.pure-u-3-5
    #time-to.pure-u-1-5
  #chart

  #action_types.buttons-div

:javascript
  $(document).ready(function() {
    var d = new Dashboard();
  });