= form_tag '/sessions/login', class: 'pure-form', method: :post do
  - field_set_tag do
    = text_field_tag :email, value: params[:email], placeholder: "Email"
    = password_field_tag :password, placeholder: "Password"
    = submit_tag "Sign in", class: 'pure-button pure-button-primary'
