.DS_Store
log/**/*
tmp/**/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
.*.sw*

config/database.rb
config/backend/io_server.rb
config/backend/backend_server.rb
config/backend/actions.rb
config/backend/measurements.rb
config/backend/overseers.rb
config/backend/location.rb
config/backend/weather.yml

public/javascripts/compiled/*
public/stylesheets/application.css
data