.DS_Store
log/**/*
tmp/**/*
bin/*
vendor/gems/*
!vendor/gems/cache/
.sass-cache/*
db/*.db
.*.sw*
.idea
_tmp
config/database.rb
config/backend/io_server.rb
config/backend/actions.rb
config/backend/measurements.rb
config/backend/overseers.rb

public/javascripts/compiled/*
public/stylesheets/application.css
data