.ajax-loader
  background-image: url("/images/ajax-loader.gif")
  width: 32px
  height: 32px
  position: fixed
  z-index: 100
  top: 20px
  right: 20px
  display: none

.menu-layout
  position: fixed
  width: 15%
  margin: 5px

#dashboard
  .buttons-div
    div.pure-button
      margin: 5px
      width: 15%

      .meas-value
        font-size: 140%
        display: block

    .button-success
      background-color: #0c0
    .button-error
      background-color: #b00
    .current-meas
      background-color: #55f

#chart-pagination
  .meas-pagination-button
    margin: 2px

  .current-pagination-button
    background-color: #55f

#chart
  height: 500px
  border: 0px dotted gray

#chart-pagination
  text-align: center

#chart-times
  font-size: 80%

  #time-from
    text-align: left
    bottom: 0px
  #time-to
    text-align: right
  #chart-info
    text-align: center