.pure-menu.pure-menu-open.pure-menu-vertical
  %ul
    %li.pure-menu-heading HomeIO lite
    - if user
      %li= link_to("Dashboard", '/dashboard')
      %li= link_to("Only important", '#', class: "show-regular", "data-show-all" => false)

    - else


    %li.pure-menu-heading Actions
    - if user
      %li= link_to("Sign out", '/sessions/logout')
    - else
      %li= link_to("Sign in", '/sessions/login')